/* General */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
ul{
    margin-left: 15px;
}
h1{
    font-size:4em;
}
.container{
    width:80%;
    margin: 0 auto;
}

article{
    background-color:white;
}
/* header */
header{
    background-color:#4DA1FF;
    background-image: url('/img/pattern.png');
    background-size: 30%;
    padding-top: 80px;
}

#logo img{
 height:70px;
}
/* main */
article table{
    text-align:left;
    border-spacing: 0;
}

/* text utility */
.text-white{
    color:white;
}

.text-blue{
    color: #1AAAE6;
}

.text-grey{
    color: #8A8A8A;
}
.highlight{
    background-color: #FFFF00;
}

.weight-700 {
    font-weight: 700;
}

/* background utility */
.bg-blue{
    background-color: #1AAAE6;
}
.odd{
    background-color:#B2E6F2;
}

 /* dimensioni */

 .w-50{
    width: 50%;
 }

 .image{
    width: 300px;
    height: 200px;
 }

 .mb-20{
    margin-bottom: 30px;
 }

 /* aside */
 #monitor{
    background-image: url('/img/monitor.jpg');
 }
 #graph{
    background-image: url('/img/graph.jpg');
 }
 h3 {
    padding: 10px;
 }